:root {
  --theme-color-1: #7c7a7a;
  --theme-color-2: #ffc0cb;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif !important;
  line-height: 1.5;
  background-color: #f8edeb !important;
}

/* Form styling */

#intro {
  font-size: 20px;
  color: var(--theme-color-1);
  margin: 5px;
  font-weight: bold !important;
}

.form-group {
  padding: 5px;
  font-weight: bold !important;
  color: var(--theme-color-1);
}

/* Footer styling */
.footer {
  display: flex;
  justify-content: space-evenly;
  padding: 2.5%;
}

a:link {
  text-decoration: none !important;
}

button {
  white-space: nowrap;
  align-items: center;
  background-color: var(--theme-color-2);
  border: 1px solid var(--theme-color-2);
  border-radius: 50px !important;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  height: 30px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  margin: 10px !important;
}

button:hover {
  text-decoration: none;
  box-shadow: 5px 5px 4px var(--theme-color-1);
}
